@{
    ViewData["Title"] = "Courses";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Courses</title>
    <link href="~/css/full.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
            <div style="    margin-left: -70px;
            margin-bottom: -76px;
            margin-top: -44px;">
                <a href="~/Home/Index" class="navbar-brand ml-lg-3">
                    <img src="img/Untitled-16.png" style="width: 20%; height: 20%;">
                </a>

            </div>
    </div>
    <!-- Navbar End -->
    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h1 class="text-white display-1">Courses</h1>
            <div class="d-inline-flex text-white mb-5">
                <p class="m-0 text-uppercase"><a class="text-white" href="~/Home/Index">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Courses</p>
            </div>
            <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <input type="text" class="form-control border-light" id="searchIndex" style="padding: 30px 25px;"
                           placeholder="Search Courses">
                    <div class="input-group-append">
                        <button class="btn btn-secondary px-4 px-lg-5" onclick="searchInIndex()">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Courses Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row mx-0 justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center position-relative mb-5">
                        <h1 class="display-4" style="margin-left: 51%;">Courses</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 pb-4">
                    <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="~/Course/WebDesign">
                        <img class="img-fluid" src="img/WB.jpg" alt="">
                        <div class="courses-text">
                            <h4 class="text-center text-white px-3">Web Design Course</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 pb-4">
                    <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="~/Course/Java">
                        <img class="img-fluid" src="img/javaLogo.png" alt="" width="100%">
                        <div class="courses-text">
                            <h4 class="text-center text-white px-3">Java Course</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 pb-4">
                    <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="~/Course/CPlusPlus">
                        <img class="img-fluid" src="img/download.png" alt="">
                        <div class="courses-text">
                            <h4 class="text-center text-white px-3">C++ Course</h4>
                        </div>
                    </a>
                </div>


                <div class="col-lg-4 col-md-6 pb-4">
                    <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="~/Course/DataStruct">
                        <img src="img/DS.jpeg" alt="">
                        <div class="courses-text">
                            <h4 class="text-center text-white px-3">Data Structure Course</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->
    <!-- Footer Start -->
    <div class="container-fluid position-relative overlay-top bg-dark text-white-50 py-5" style="margin-top: 90px;">
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <a href="~/Home/Index" class="navbar-brand">
                        <h1 class="mt-n2 text-uppercase text-white"><i class="fa fa-book-reader mr-3"></i>Fahemny</h1>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4" id="Contact">Contact us</h3>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>End of 90th St., Fifth Settlement, New Cairo</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>16383</p>
                    <div class="d-flex justify-content-start mt-4">
                        <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-twitter"></i></a>
                        <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-facebook-f"></i></a>
                        <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-linkedin-in"></i></a>
                        <a class="text-white" href="#"><i class="fab fa-2x fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Our Courses</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="~/Course/WebDesign">
                            <i class="fa fa-angle-right mr-2"></i>Web
                            Design
                        </a>
                        <a class="text-white-50 mb-2" href="~/Course/CPlusPlus"><i class="fa fa-angle-right mr-2"></i>C++</a>
                        <a class="text-white-50 mb-2" href="~/Course/DataStruct">
                            <i class="fa fa-angle-right mr-2"></i>Data Structure
                        </a>
                        <a class="text-white-50 mb-2" href="~/Course/Java"><i class="fa fa-angle-right mr-2"></i>Java</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <script src="js/main.js"></script>
</body>

</html>
