@{
    ViewData["Title"] = "Profile";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="profile-container">
        <h1>User Profile</h1>
        <div class="profile-content">
            <div class="profile-image">
                <img src="f1.png" alt="Profile Image">
            </div>
            <div class="profile-info">
                <h2>malak ahmed elArabiy</h2>
                <p><strong>Email:</strong> 20204597@fue.edu.eg</p>
                <p><strong>City/town:</strong> Cairo</p>
                <h3>User details</h3>
                <p>Faculty of Computers and Information Technology - Digital Media Technology</p>
                <h3>Course details</h3>
                <ul>
                    <li><a href="#">Human Computer Interaction (Fa23 - DM318 - Pr)</a></li>
                    <li><a href="#">Software Project Management(Fa23 - CST 453 & CS453 - Th)</a></li>
                    <li><a href="#">Discrete Mathematics (Fa23 - BMT 112 & MT111 - Tu)</a></li>
                    <li><a href="#">Image Processing (Fa23 - DM432 & ITC 432 - Pr)</a></li>
                    <li><a href="#">Image Processing (Fa23 - DM432 & ITC 432 - Th)</a></li>
                    <li><a href="#">Discrete Mathematics (Fa23 - BMT 112 & MT111 - Th)</a></li>
                    <li><a href="#">Discrete Mathematics (Fa23 - MT111-DT1.1-FCI - Tu)</a></li>
                    <li><a href="#">Computer Vision (Fa23 - DM428-A-DMT - Th)</a></li>
                    <li><a href="#">Human Computer Interaction (Fa23 - DM318-A-DMT - Th)</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>