
<div class="cont">
    <p class="sign">
        @Html.ActionLink("Student", "Login", "Account")
    </p>
</div>
<div class="cont">
    <p class="sign">
        @Html.ActionLink("Assistant", "Login", "Account")
    </p>
</div>