@{
    ViewData["Title"] = "Java";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <link href="~/css/full.css" rel="stylesheet">

</head>
<body>
    <div style=" margin-left: -26px;
    margin-bottom: -79px;
    margin-top: -49px;">
        <a href="~/Home/Index" class="navbar-brand ml-lg-3">
            <img src="img/Untitled-16.png" style="width: 20%; height: 20%;">
        </a>

    </div>

    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom"
         style="margin-bottom: 90px;background-image: url(img/java.jpg );">
        <div class="container text-center py-5">
            <h1 class="text-white display-1">java & development</h1>

            <div class="d-inline-flex text-white mb-5">
                <p class="m-0 text-uppercase"><a class="text-white" href="index.html">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">java & development</p>
            </div>
            <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <input type="text" class="form-control border-light" id="searchIndex" style="padding: 30px 25px;"
                           placeholder="Search Courses">
                    <div class="input-group-append">
                        <button class="btn btn-secondary px-4 px-lg-5" onclick="searchInIndex()">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Detail Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <div class="section-title position-relative mb-5">
                            <h2> introduction of java & development courses for beginners </h2>
                            <img src="img/introduction-java-cover.png">
                            <p>
                                <strong>
                                    of a Java application program involves a following step. They include:
                                    1. Creating the program
                                    2. Compiling the program
                                    3. Running the program
                                    <br>
                                    Remember that, before we begin creating the program, the Java Development Kit (JDK)
                                    must be properly installed on our system and also path will be set.
                                    <br>
                                    • Creating Program
                                    We can create a program using Text Editor (Notepad) or IDE (NetBeans)
                                    <br>
                                    class Test
                                    <br>
                                    {
                                    <br>
                                    public static void main(String []args)
                                    <br>
                                    {
                                    <br>
                                    System.out.println(“My First Java Program.”);
                                    <br>
                                    }
                                    <br>
                                    };
                                </strong>
                            </p>




                            <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">
                                Course
                                Detail
                            </h6>
                            <h1 class="display-4">java & development courses for beginners</h1>
                            <p>
                                JAVA was developed by James Gosling at Sun Microsystems Inc in the year 1995 and later
                                acquired by Oracle Corporation. It is a simple programming language. Java makes writing,
                                compiling, and debugging programming easy. It helps to create reusable code and modular
                                programs. Java works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc.)
                                It is one of the most popular programming language in the world
                                It has a large demand in the current job market
                                It is easy to learn and simple to use
                                It is open-source and free
                                It is secure, fast and powerful
                                It has a huge community support (tens of millions of developers)
                                Java is an object oriented language which gives a clear structure to programs and allows
                                code to be reused, lowering development costs
                                As Java is close to C++ and C#, it makes it easy for programmers to switch to Java or
                                vice versa
                            </p>

                            <p>
                                Java is a class-based, object-oriented programming language that is designed to have as
                                few implementation dependencies as possible. It is intended to let application
                                developers write once, and run anywhere (WORA), meaning that compiled Java code can run
                                on all platforms that support Java without the need for recompilation. Java was first
                                released in 1995 and is widely used for developing applications for desktop, web, and
                                mobile devices. Java is known for its simplicity, robustness, and security features,
                                making it a popular choice for enterprise-level applications..
                            </p>

                            <div class="related video" style="font-size: 20px;">
                                <h2 class="mb-10">related vido of introduction </h2>
                                <br>
                                <h3><a herf="https://youtu.be/FbviMTJ_vP8"></a></h3>

                                <br>
                                <iframe width="50%" height="400%"
                                        src="img/00 - Object Oriented Programming with Java - Get Started - برمجة 2.mp4"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                <br>
                                <h3>
                                    <a href=" https://www.youtube.com/watch?v=IzjJqzX4hx0&list=PL1DUmTEdeA6Icttz-O9C3RPRF8R8Px5vk&index=2">video1</a>
                                </h3>
                                <br>
                                <h3>
                                    <a href="https://www.youtube.com/watch?v=qB3UP3yhdJA&list=PL1DUmTEdeA6Icttz-O9C3RPRF8R8Px5vk&index=6">
                                        video
                                        2
                                    </a>
                                </h3>
                                <br>
                                <h3>
                                    <a href="https://www.youtube.com/watch?v=Rrx_5jn1BWk&list=PL1DUmTEdeA6Icttz-O9C3RPRF8R8Px5vk&index=7">
                                        video
                                        3
                                    </a>
                                </h3>
                                <br>
                                <h3>
                                    <a href="https://www.youtube.com/watch?v=mmg-Tgpx19k&list=PL1DUmTEdeA6Icttz-O9C3RPRF8R8Px5vk&index=8">
                                        video
                                        4
                                    </a>
                                </h3>
                                <br>
                                <h3>
                                    <a href="https://www.youtube.com/watch?v=lhfX8FPG7ZE&list=PL1DUmTEdeA6Icttz-O9C3RPRF8R8Px5vk&index=9">
                                        video
                                        5
                                    </a>
                                </h3>


                            </div>



                            <div class="related_pdf" style="font-size: 20px;">
                                <h2 class="mb-10">related pdf</h2>
                                <p>
                                    open a pdf file <a href="pdf/java1.ppt">
                                        <h3>pdf 1</h3>
                                    </a>
                                </p><br>
                                <p>
                                    open a pdf file <a href="pdf/java2.ppt">
                                        <h3>pdf 2</h3>
                                    </a>
                                </p><br>


                            </div>
                        </div>


                        <div class="owl-carousel related-carousel position-relative" style="padding: 0 30px;">
                            <a class="courses-list-item position-relative d-block overflow-hidden mb-2"
                               href="detail.html">

                                <div class="courses-text">
                                    <h4 class="text-center text-white px-3">
                                        java & development courses for
                                        beginners
                                    </h4>

                                </div>
                        </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <section style="margin-left: 3%;">
        <h2>Assignments</h2>
        <form>
            <label for="assignment">Upload Assignment:</label>
            <input type="file" id="submitAssignment" name="assignment" />
            <br /><br />
            <button type="submit" onclick="submit()" style="background-color: black; color: white; width: 10%;
          height: 5%;">
                Submit
            </button>
        </form>
        <h2 style="margin-top: 4%;">Quiz</h2>
        <form action="WebQuiz.html">
            <button type="submit" style="background-color: black; color: white; width: 10%;
            height: 5%;">
                Take Quiz
            </button>
        </form>
        <p id="response"></p>
    </section>
    <!-- Detail End -->
    <!-- Footer Start -->
    <div class="container-fluid position-relative overlay-top bg-dark text-white-50 py-5" style="margin-top: 90px;">
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <a href="index.html" class="navbar-brand">
                        <h1 class="mt-n2 text-uppercase text-white"><i class="fa fa-book-reader mr-3"></i>Fahemny</h1>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4" id="Contact">Contact us</h3>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>End of 90th St., Fifth Settlement, New Cairo</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>16383</p>
                    <div class="d-flex justify-content-start mt-4">
                        <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-twitter"></i></a>
                        <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-facebook-f"></i></a>
                        <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-linkedin-in"></i></a>
                        <a class="text-white" href="#"><i class="fab fa-2x fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Our Courses</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="WebDesign.html">
                            <i class="fa fa-angle-right mr-2"></i>Web
                            Design
                        </a>
                        <a class="text-white-50 mb-2" href="C++.html"><i class="fa fa-angle-right mr-2"></i>C++</a>
                        <a class="text-white-50 mb-2" href="dataStructure.html">
                            <i class="fa fa-angle-right mr-2"></i>Data Structure
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script src="js/main.js"></script>
</body>
</html>